<div class="row row-eq-height structuredElement" [id]="elementId">
    <lexml-left-margin class="col-xs-1" style="border: 1px solid red;"></lexml-left-margin>
    <lexml-main-structure-panel class="col-xs-10" style="border: 1px solid green;"></lexml-main-structure-panel>
    <lexml-right-margin  class="col-xs-1" style="border: 1px solid blue;"></lexml-right-margin>
    <!-- <button (click)="printElement()">xpto</button> -->
    <!-- <lexml-identation-area class="col-xs-1" style="border: 1px solid blue; margin-bottom: 10px" ></lexml-identation-area> -->
</div>