<div class="container-fluid">
    <div class="row">
        <lexml-documento-estruturado [panelHeading]="title" [panelFooter]="footer" class="col-xs-6">

        </lexml-documento-estruturado>

        <lexml-documento-estruturado [panelHeading]="title" [panelFooter]="footer" class="col-xs-6">

        </lexml-documento-estruturado>
<!-- 
        <lexml-documento-estruturado [panelHeading]="title" [panelFooter]="footer" class="col-xs-4">

        </lexml-documento-estruturado> -->
    </div>
</div>